* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./images/background-image.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 100px;
}

#body {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

#aside {
    width: 200px;
    /* border: 1px solid #fff; */
}

#main {
    width: 1200px;
    max-width: 100%;
    align-content: center;
}

#beside {
    width: 200px;
}

#footer {
    display: flex;
    justify-content: center;
    color: #666;
    font-weight: bold;
    font-size: 20px;
    line-height: 70px;
}

#footer a:hover {
    color: #999;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: inherit;
}

.link-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.link-item {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    color: white;
    transition: all .25s;
}

.link-item:hover {
    transform: translateY(-10px);
}

.link-item:hover .link-item_icon {
    border-color: #fff;
}

.link-item .link-item_icon {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    border: 3px solid #ccc;
    transition: all .25s;
}

.link-item .link-item_title {
    text-align: center;
    font-size: 16px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}