* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 8px;
    background: url(./images/background-image.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.link-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.link-item {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    color: white;
}

.link-item .link-item_icon {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    border: 3px solid #ffffff;
}

.link-item .link-item_title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}